<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hello World</h1>
    <form action="measurement" method="post">
        <input type="range" name="sensor" min="0" max="2">
        <select name="airport">
            <option value="CDG">Paris Charles de Gaule</option>
            <option value="BOD">Bordeaux</option>
        <input type="datetime-local" name="from">
        <input type="datetime-local" name="to">
        <input type="submit">
    </form>
</body>
</html>