<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Serveur WEB</title>
</head>
<body>
    <h1 style="text-align: center">Choix des paramètres</h1>
    <form action="measurement" method="post">
        <input type="radio" name="sensor" id="temp" value="0" checked>
        <label for="temp">Temperature</label>

        <input type="radio" name="sensor" id="pressure" value="1">
        <label for="pressure">Pressure</label>

        <input type="radio" name="sensor" id="wind" value="2">
        <label for="wind">Wind</label>

        <select name="airport">
            {{range .}}
            <option value="{{.}}">{{.}}</option>
            {{end}}

        <input type="datetime-local" name="from">
        <input type="datetime-local" name="to">
        <input type="submit">
    </form>
</body>
</html>